rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdminUser() {
      return request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.token.email))
    }

    function isAllowedGiftCreate() {
      // Only allowed to set the gift status to pending, and not allowed to directly change slotId
      return (request.resource.data.status == 'creating') && !('slotId' in request.resource.data)
    }

    function isAllowedGiftUpdate() {
      // Only allowed to set the gift status to pending, and not allowed to directly change slotId
      return (request.resource.data.status == resource.data.status || request.resource.data.status == 'pending'  || request.resource.data.status == 'cancelled') && (!('slotId' in request.resource.data) || request.resource.data.slotId == resource.data.slotId);
    }

    match /appstates/{appstate} {
      allow read;
      allow write: if isAdminUser()
    }

    match /slots/{slot} {
      allow read;
      allow write: if isAdminUser()
    }
    match /gifts/{gift} {
      allow get;
      allow create: if isAdminUser() || isAllowedGiftCreate();
      allow update: if isAdminUser() || isAllowedGiftUpdate();
      allow list, delete: if isAdminUser()
    }
    match /reservations/{reservation} {
      allow get;
      allow create;
    }
    match /artists/{artist} {
      allow get;
      allow list, create, update, delete: if isAdminUser()
    }
    match /admins/{admin} {
      allow read, write: if isAdminUser()
    }
    match /messages/{admin} {
      allow read, write: if isAdminUser()
    }
  }
}