rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdminUser() {
      return request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.token.email))
    }

    function isAllowedGiftUpdate() {
      // Only allowed to set the gift status to pending
      return request.resource.data.status == resource.data.status || request.resource.data.status == 'pending';
    }

    match /slots/{slot} {
      allow read;
      allow write: if isAdminUser()
    }
    match /gifts/{gift} {
      allow get;
      allow create;
      allow update: if isAdminUser() || isAllowedGiftUpdate();
      allow list, delete: if isAdminUser()
    }
    match /admins/{admin} {
      allow read, write: if isAdminUser()
    }
  }
}