.itineraries {
  h2 {
    margin-top: 100px;
  }
  &--newItinerary {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
  }
  &--field {
    display: flex;
    flex-direction: row;
    select:first-of-type {
      margin-left: 15px;
    }
  }
}
