// Typography

$fontSizeBase: 15px;
$fontSizeBaseMobile: 14px;

$fontStackHeader: "Trio Grotesk", -apple-system, "Helvetica Neue", sans-serif;
$fontStackBody: "Trio Grotesk", -apple-system, "Helvetica Neue", sans-serif;

// Colours

$colorHFGrey: #e2e2e2;
$colorHFBlue: #8797b6;
$colorHFYellow: #ffff00;
$colorHFBeige: #a28b6d;

$colorBackground: white;

$colorFontHeader: #111;
$colorFontBody: #111;
