@import "variables.scss";

.language {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  &Link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    &.isCurrent {
      background: $colorHFGrey;
    }
  }
}
