.language {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  &Link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &.isCurrent {
      text-decoration: underline;
    }
  }
}
