@import "reset.scss";
@import "typography.scss";

html,
body {
  height: 100%;
  overscroll-behavior: none;
  position: relative;
  background: #222;
}

.wrapper {
  z-index: 1; // everything on top of map
  position: fixed;
  top: 0;
  bottom: 0;
  left: 3vw;
  width: 30vw;
  height: 100%;
}

.pageContent {
  height: 100%;
  padding: 30px 60px;
  background: $colorBackground;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 30px;

  .header {
    grid-area: header;
  }

  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }
}

.button {
  display: block;
  background: black;
  text-align: center;
  text-transform: uppercase;
  color: white;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--next {
    margin-top: $fontSizeBase * 2;
  }

  &--book {
    display: inline-block;
    font-size: 10px;
    padding: 0px 10px;
  }
}

.inputGroup {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: $fontSizeBase * 2;

  label {
    display: inline-block;
  }

  input[type="text"] {
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid black;

    &:focus {
      outline: none;
    }
  }

  select {
    appearance: none;
    position: relative;
    display: flex;
    align-items: center;
    height: 42px;
    width: 100%;
    margin-top: $fontSizeBase;
    padding: 0px 28px 0 12px;
    background: rgba(white, 0.1)
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7.2'%3E%3Cpath style='fill:%23000000' d='M0,1.6,6,7.2l6-5.6L10.4,0,6,4,1.6,0Z'/%3E%3C/svg%3E")
      right 13px top 15px / 10px 12px no-repeat;
    border: 1px solid rgba(black, 1);
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    text-indent: 0;
    transition: background-color 0.15s ease;
    color: black;

    option {
      color: black;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba(white, 0.15);
    }
  }

  textarea {
    margin-top: $fontSizeBase;
    border-radius: 0;
    border: 1px solid black;
    min-height: 100px;

    &:focus {
      outline: none;
    }
  }
}
