.intro {
  .pageContent--intro {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 3vw;
    width: 30vw;
  }

  .language {
    margin-bottom: 30px;
  }

  &Logo {
    width: 220px;
    margin: 30px 0;
  }

  &Title {
  }

  &Body {
  }

  .pageContent {
    opacity: 0;
    transition: opacity 0.5s;
    &.isVisible {
      opacity: 1;
    }
  }
}
