.intro {
  .heroImage {
    margin: 0;
  }

  .main {
    opacity: 0;
    &.isVisible {
      opacity: 1;
      transition: opacity 1s;
    }

    h1 {
      @media (min-width: 768px) {
        font-size: 32px;
      }
    }

    .scroll {
      @media (min-width: 768px) {
        padding-top: 45px;
      }
    }

    .language {
      margin-bottom: 16px;
    }
  }
}
