.intro {
  @media (min-width: 768px) {
    h1 {
      font-size: 36px;
    }
  }

  .language {
    margin-bottom: 30px;
  }

  .main {
    opacity: 0;
    &.isVisible {
      opacity: 1;
      transition: opacity 1s;
    }
  }
}
