@import "../components/variables";

.page {
  .main {
    grid-template-rows: 1fr auto;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        margin: 0 0 1em;
        color: rgba(black, 0.5);
        font-size: $fontSizeBaseMobileXS;

        @media (min-width: 360px) {
          font-size: $fontSizeBaseMobile;
        }

        @media (min-width: 768px) {
          font-size: $fontSizeBase;
        }

        strong {
          display: block;
          margin-bottom: 0.5em;
          // background-image: url("data:image/svg+xml, %3Csvg className='arrow' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14' %3E%3Cpath fill='black' d='M13.92,7.38a.92.92,0,0,0,0-.76,1.15,1.15,0,0,0-.21-.33l-6-6a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.42L10.58,6H1A1,1,0,0,0,1,8h9.58L6.27,12.29a1,1,0,0,0,0,1.41h0A1,1,0,0,0,7,14a1,1,0,0,0,.71-.29l6-6A1.29,1.29,0,0,0,13.92,7.38Z' /%3E%3C/svg%3E");
          // background-repeat: no-repeat;
          // background-position: left 0 top 0.4em;
          // background-size: auto 0.8em;
          // text-indent: 1.5em;
          color: black;
        }
      }
    }
  }

  &Footer {
    padding: 0 calc(#{$frameWidth} + 5px) calc(#{$frameWidth} + 10px)
      calc(#{$frameWidth} + 5px);

    @media (min-width: 360px) {
      padding: 0 calc(#{$frameWidth} + 15px) calc(#{$frameWidth} + 15px)
        calc(#{$frameWidth} + 15px);
    }

    @media (min-width: 768px) {
      padding: 10px 60px 30px 60px;
    }
  }
}
