@import "../components/variables";

.page {
  .main {
    grid-template-rows: 1fr auto;
  }

  &Footer {
    padding: 0 calc(#{$frameWidth} + 5px) calc(#{$frameWidth} + 10px)
      calc(#{$frameWidth} + 5px);

    @media (min-width: 360px) {
      padding: 0 calc(#{$frameWidth} + 15px) calc(#{$frameWidth} + 15px)
        calc(#{$frameWidth} + 15px);
    }

    @media (min-width: 768px) {
      padding: 10px 60px 30px 60px;
    }
  }
}
