@import "../components/variables.scss";

.to {
  .react-autosuggest__container {
    position: relative;

    .react-autosuggest__suggestions-container--open {
      z-index: 3;
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(100%);
      background: white;
      box-shadow: 0px 5px 10px 5px rgba($colorHFGrey, 1);

      bottom: 25px;

      @media (min-width: 360px) {
        bottom: 14px;
      }

      @media (min-width: 768px) {
        bottom: 14px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 10px 14px;
          margin: 0;
          border-bottom: 1px solid $colorHFGrey;
          cursor: pointer;

          font-size: $fontSizeBaseMobileXS;

          @media (min-width: 360px) {
            font-size: $fontSizeBaseMobile;
          }

          @media (min-width: 768px) {
            font-size: $fontSizeBase;
          }

          &:hover {
            background: rgba($colorHFGrey, 0.3);
          }
        }
      }
    }
  }
}
